body {
    background-color: #DFEEEA;
}

hr {
    border-style: dotted none none none;
    border-width: 10px;
    width: 140px;
    border-color: #2F5D62;
}

h1 {
  color: #5E8B7E;
}

h2 {
  color: #2F5D62;
}

h3 {
  color: #2F5D62;
}

h4 {
  color: #2F5D62;
}

h5 {
  color: #2F5D62;
}

h6 {
  color: #2F5D62;
}
